
<div style="background-color:rgb(216, 34, 119);padding:10px">
  <h1 style="font-family: cursive;color:white;text-align:center">BROKER</h1>
</div>
<br>

<div class="container" style="font-family: cursive;">
  <div [hidden]=" error != 'success' " class="alert alert-success">{{error}}</div>
  <div [hidden]=" error == 'success' || !error " class="alert alert-danger">{{error}}</div>
  <form>
    <div class="row">
      <div class="col sm-5">
         <input type="text" style="color:rgb(216, 34, 119)" name='name' class="form-control" #name placeholder="name">
      </div></div>
      <br>
      <div class="row">
      <div class="col sm-5">
         <input type="email" style="color:rgb(216, 34, 119)" name='email'class="form-control" #email placeholder="email">
      </div><br><br><br>
    </div>
    <div class="row">
      <div class="col lg-5">
      <input type="text"  style="color:rgb(216, 34, 119)" name='city'class="form-control" #city placeholder="city">
      </div><br>
      <div class="col lg-5">
         <select name="state" class='form-control' placeholder="state"#state>
          <option style="color:rgb(216, 34, 119)" value='none'>Select</option>
          <option  style="color:rgb(216, 34, 119)"value="New Delhi">New Delhi</option>
          <option style="color:rgb(216, 34, 119)"value="New Delhi">New Delhi</option>
          <option  style="color:rgb(216, 34, 119)"value="New Delhi">New Delhi</option>                    
        </select>
      </div><br><br><br>
    </div>
    <div class="row">
      <br><br>
      <div class="col lg-5">
       <input type="text" style="color:rgb(216, 34, 119)" name='addl1'class="form-control" #addl1 placeholder="  Address Line1">
      </div><br>
      <div class="col lg-6">
       <input type="text" style="color:rgb(216, 34, 119)"  name='addl2' class="form-control" #addl2 placeholder=" Address  Line2 ">
      </div><br>
    </div>
    <div class="row">
      <div class="col-lg-12"><br>
       <input type="text"  name='commission' class="form-control" #commission placeholder=" Commission ">
      </div>
    </div><br>
      <br>
         <input type="submit" style=" background-color:rgb(216, 34, 119)"  class="btn btn-primary btn-block" name='submit' value='Save' (click)="onSubmit(name.value,email.value,city.value,state.value,addl1.value,addl2.value,commission.value)">
      
          <input type="reset"   class="btn btn-dark btn-block" (click)="reset()" name='cancel' value='Cancel'>
        
      
  </form>
</div>
<br><br>

<app-table></app-table>