<p>Ashutosh Kumar</p>

<h1>Form</h1>
<div class="container">
  <div class="alert alert-danger">{{error}}</div>
  <form>
    <div class="row">
      <div class="col lg-6">
        Name <input type="text"  name='name' class="form-control" #name  >
      </div>
      <div class="col lg-6">
        Email <input type="email"  name='email'class="form-control" #email>
      </div>
    </div>
    <div class="row">
      <div class="col lg-6">
        City <input type="text"  name='city'class="form-control" #city>
      </div>
      <div class="col lg-6">
        State <select name="state" class='form-control' #state>
          <option >Select</option>
          <option value="New Delhi">New Delhi</option>
          <option value="New Delhi">New Delhi</option>
          <option value="New Delhi">New Delhi</option>                    
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col lg-6">
        Address Line1 <input type="text" name='addl1'class="form-control" #addl1>
      </div>
      <div class="col lg-6">
        Address  Line2 <input type="text"  name='addl2' class="form-control" #addl2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        Commission <input type="text"  name='commission' class="form-control" #commission>
      </div>
    </div><br>
      <div class="row">
        <div class="col lg-6">
         <input type="submit" class="btn btn-primary btn-block" name='submit' value='Save' (click)="onSubmit(name.value,email.value,city.value,state.value,addl1.value,addl2.value,commission.value)">
        </div>
        <div class="col lg-6">
          <input type="submit" class="btn btn-danger btn-block" name='cancel' value='Cancel'>
        </div>
      </div>
    
  </form>
</div>
<br><br>
<app-table></app-table>