<div class="container" >
  
  
  <!-- The Modal -->
  <div class="modal">
    <div class="modal-dialog">
      <div class="modal-content" >
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Modal Heading</h4>
          <button type="button" style="font-family:cursive;color:rgb(216, 34, 119)" class="close" data-dismiss="modal">&times;</button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body" style="font-family:cursive;color:rgb(216, 34, 119)" >
          Modal body..
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" style="font-family:cursive;color:rgb(216, 34, 119)" class="btn btn-dark " data-dismiss="modal">Close</button>
        </div>
  
      </div>
    </div>
  </div>
</div>